<HEAD>
   <TITLE>Medusa Computer Systems Homepage</TITLE>
   <META HTTP-EQUIV="Author" CONTENT="King Consolidation, http://www.kingx.com">
   <META HTTP-EQUIV="Description" CONTENT="Medusa Computer Systmes">
   <META HTTP-EQUIV="Keywords" CONTENT="Medusa, Medusa, Medusa, Medusa, Medusa, Medusa, Computer, Computer, System, System, System, T40, T40, T40, T40, Computer, Computer, Computer, Systems, Systems, Systems, Systems, Hades, Hades, Hades, Hades, Hades, Hades, Atari, Atari, Atari, Atari, Atari, TOS, TOS, TOS, TOS, TOS, TOS, TOS, Software, Software, Software, 68060, 68060, 68060, 68060, 68060, 68040, 68040, 68040, Motorola, Motorola, Motorola, Motorola">
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#0000FF" VLINK="#FF0000" ALINK="#FF0000" BACKGROUND="mimg/affhin.gif">

<CENTER>
<TABLE CELLSPACING=0 CELLPADDING=0 WIDTH="599">
<TR>
  <TD COLSPAN=2><IMG SRC="mimg/titel.gif" BORDER=0 HEIGHT=67 WIDTH=599></TD>
</TR>
<TR>
  <TD VALIGN=Top ROWSPAN=7>
    <BR>
    <B>Medusa;Computer&nbsp;Systems&nbsp;Homepage</B><BR>
        <BR>
        Offizielle Homepage von <I>Medusa Computer Systems Schweiz</I>.
  </TD>
  <TD ALIGN="RIGHT"><A HREF="index.html"><IMG SRC="mimg/opt1y.gif" BORDER=0 HEIGHT=21 WIDTH=259 ALIGN=RIGHT></A></TD>
</TR>

<TR>
  <TD ALIGN="RIGHT"><A HREF="thes.html"><IMG SRC="mimg/opt2n.gif" BORDER=0 HEIGHT=21 WIDTH=259 ALIGN=RIGHT></A></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"><A HREF="FireBee.html"><IMG SRC="mimg/opt25n.gif" BORDER=0 HEIGHT=21 WIDTH=259 ALIGN="RIGHT" ALT="FireBee"></A></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"><A HREF="thes-hades.html"><IMG SRC="mimg/opt21n.gif" BORDER=0 HEIGHT=21 WIDTH=259 ALIGN="RIGHT" ALT="Hades"></A></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"><A HREF="thes-t40.html"><IMG SRC="mimg/opt22n.gif" BORDER=0 HEIGHT=21 WIDTH=259 ALIGN="RIGHT" ALT="T40"></A></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"><A HREF="thes-program.html"><IMG SRC="mimg/opt23n.gif" BORDER=0 HEIGHT=21 WIDTH=259 ALIGN="RIGHT" ALT="Software"></A></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"><A HREF="thes-download.html"><IMG SRC="mimg/opt24n.gif" BORDER=0 HEIGHT=21 WIDTH=259 ALIGN="RIGHT" ALT="Download"></A></TD>
</TR>

<TR>
  <TD COLSPAN=2><IMG SRC="mimg/hline.gif" BORDER=0 HEIGHT=4 WIDTH=599></TD>
</TR>
<TR><TD COLSPAN=2>
<BR>
<B>Medusa Computer Systems</B><BR>
<BR>
Die Firma Medusa Computer Systems ist Ihr Ansprechpartner wenn es um die Entwicklung,
Herstellung und Installation von digitalen Systemen geht. Unsere Spezialgebiete sind
TOS kompatible High-End-Computer, kundenspezifische PCI-und ISA-Karten sowie
Microprozessorsteuerung (Spezialist f&uuml;r M68K).<BR>
<BR>
Aber wir entwickeln und fertigen auch Steuerungen jeglicher Art. Des weiteren stellen
wir auch normale PC-Systeme nach Kundenw&uuml;nschen zusammen und bieten den n&ouml;tigen
Service dazu an (Vernetzung, Wartung, etc.).<BR>
<BR>
<BR>
<B>Addresse</B> (f&uuml;r Informationen, Fragen, Bestellungen, ...)<BR>
<BR>
<IMG SRC="bilder/medusalom.gif" ALT="Medusa Logo" BORDER=3 WIDTH=200 ALIGN="LEFT" HEIGHT=91>
<UL>
<P>Medusa Computer Systems<BR>
Fredi Aschwanden<BR>
Buchhaldenstr. 16<BR>
CH-8610 USTER</P>

<A HREF="index.html">http://www.medusacomputer.com</A>
<BR>
E-mail: <A HREF="mailto:mcs@kingx.com">mcs@kingx.com</A>
</P>
</UL>

<IMG SRC="mimg/hline.gif" BORDER=0 HEIGHT=4 WIDTH=599><BR>
<TABLE CELLSPACING=2 CELLPADDING=0><TR><TD>
<A HREF="index.html">Medusa Computer Systems</A> -
<A HREF="mailto:mcs@kingx.com">mcs@kingx.com <IMG SRC="bilder/envelope.gif" BORDER=0></A><BR>
Last update: 23. M&auml;rz 2009<BR>
<!-- Visitor counter: <IMG SRC="cgi-bin/wwwcount/count.exe?df=index.dat&ft=0&dd=B" ALT="Counter" ALIGN="Center">
since 3.7.1996.<BR> -->
<BR>
<SCRIPT LANGUAGE="JavaScript">
<!--
  imgkingxo = new Image();
  imgkingxo.src = "images/kingx-banner01.gif";
  imgkingxn = new Image();
  imgkingxn.src = "images/kingx-banner03.gif";
// -->
</SCRIPT>
<A HREF="http://www.kingx.com"
  onMouseOver="document['kximg'].src = eval('imgkingxn').src; return true;"
  onMouseOut="document['kximg'].src = eval('imgkingxo').src; return true;"><IMG
  SRC="images/kingx-banner01.gif" WIDTH=88 HEIGHT=31 BORDER=0 ALT="KingX Consulting" NAME="kximg"></A>
<FONT SIZE="1" FACE="Arial">Page updated by Fredi Aschwanden</A></FONT><BR>
</TD></TR></TABLE>
</FONT></TD></TR>

<TR><TD COLSPAN=2><IMG SRC="mimg/ende.gif" BORDER=0 HEIGHT=20 WIDTH=599></TD></TR>
</TABLE>
</CENTER>
</BODY>
</HTML>